<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Gameover.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,0},{480,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,320}}</string>
				<key>sourceSize</key>
				<string>{480,320}</string>
			</dict>

			<key>IntroBackground.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,800}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,800}}</string>
				<key>sourceSize</key>
				<string>{480,800}</string>
			</dict>

			<key>MenuBackground.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,0},{480,800}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,800}}</string>
				<key>sourceSize</key>
				<string>{480,800}</string>
			</dict>

			<key>MenuBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,961},{119,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,33}}</string>
				<key>sourceSize</key>
				<string>{120,33}</string>
			</dict>

			<key>MenuBtn_Selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,961},{119,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,33}}</string>
				<key>sourceSize</key>
				<string>{120,33}</string>
			</dict>

			<key>PlayBackground.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,800}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,800}}</string>
				<key>sourceSize</key>
				<string>{480,800}</string>
			</dict>

			<key>PlayBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,801},{427,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,190}}</string>
				<key>sourceSize</key>
				<string>{427,190}</string>
			</dict>

			<key>ReplayBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,895},{120,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{120,32}}</string>
				<key>sourceSize</key>
				<string>{120,33}</string>
			</dict>

			<key>ReplayBtn_Selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,928},{120,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{120,32}}</string>
				<key>sourceSize</key>
				<string>{120,33}</string>
			</dict>

			<key>arrowDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,801},{183,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,190}}</string>
				<key>sourceSize</key>
				<string>{183,190}</string>
			</dict>

			<key>arrowLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,703},{182,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,191}}</string>
				<key>sourceSize</key>
				<string>{182,191}</string>
			</dict>

			<key>arrowRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,321},{182,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,190}}</string>
				<key>sourceSize</key>
				<string>{182,190}</string>
			</dict>

			<key>arrowUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,801},{183,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,190}}</string>
				<key>sourceSize</key>
				<string>{183,190}</string>
			</dict>

			<key>redDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,801},{182,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,190}}</string>
				<key>sourceSize</key>
				<string>{182,190}</string>
			</dict>

			<key>redLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{1162,512},{182,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,191}}</string>
				<key>sourceSize</key>
				<string>{182,191}</string>
			</dict>

			<key>redRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1145,321},{182,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,190}}</string>
				<key>sourceSize</key>
				<string>{182,190}</string>
			</dict>

			<key>redUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,512},{182,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,190}}</string>
				<key>sourceSize</key>
				<string>{182,190}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>clinton.png</string>
			</dict>
		</dict>
</plist>